.griddiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  margin-top: 2rem;
}
.formdiv {
  width: 700px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: auto;
  padding: 3rem;
  margin-top: 2rem;
}
.submitbtn {
  width: 600px;
  margin-top: 1rem;
}
